@import '../libs/vars';
@import '../libs/functions';
@import '../libs/mixins';

/* Icon */

	.icon {
		@include icon;
		position: relative;
		border-bottom: none;

		> .label {
			display: none;
		}
	}