---
import { Image } from "astro:assets";
import ProfileImage from "../../assets/images/profile/renan-sigolo.jpeg";
---

<section data-test="section-profile">
  <Image
    alt="Renan Sigolo profile"
    height={256}
    loading="eager"
    src={ProfileImage}
    width={256}
  />
  <h1>Renan Sigolo</h1>
  <p>Software Engineer</p>
</section>

<style>
  section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 8rem auto;
    text-align: center;
  }

  img {
    align-items: center;
    border-radius: 9999px;
    height: 128px;
    justify-content: center;
    width: 128px;
  }

  h1 {
    font-size: 2.25rem;
    font-weight: 500;
    letter-spacing: 0.025em;
    line-height: 2.5rem;
    margin: 0.5rem auto;
  }
  @media (min-width: 768px) {
    h1 {
      font-size: 3rem;
      line-height: 1;
    }
  }

  p {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.75rem;
    margin: 0;
  }
</style>
