---
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome"
import { socialData } from "./social-data"
---

<div class="social">
  <ul data-test="social-media-list">
    {
      socialData?.map((social) => (
        <li>
          <a
            aria-label={social.title}
            href={social?.url}
            rel="noopener noreferrer"
            target="_blank"
          >
            <FontAwesomeIcon icon={social.icon} />
          </a>
        </li>
      ))
    }
  </ul>
</div>

<style lang="scss">
  .social {
    display: flex;
    height: 5rem;
    min-width: 100%;
    flex-direction: column;
    place-content: center;
    border-top: 1px solid var(--gray-500);
  }

  .social ul {
    display: flex;
    height: 1rem;
    min-width: 100%;
    flex-direction: row;
    place-content: center;
    list-style: none;
    padding: 0;
  }

  .social ul li {
    margin-inline: 0.5rem;
    width: 1rem;
    color: var(--gray-500);
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: scale(1.25);
    }
  }

  .social ul li a {
    color: var(--gray-500);

    &:hover {
      color: var(--green-600);
    }
  }
</style>
