---
import { Icon } from "astro-icon/components"
import { socialData } from "./social-data"
---

<div class="social">
  <ul data-test="social-media-list">
    {
      socialData.map(({ title, url }) => (
        <li>
          <a
            href={url}
            aria-label={title}
            rel="noopener noreferrer"
            target="_blank"
            title={title}
          >
            <Icon name={title.toLowerCase()} width={24} height={24} />
          </a>
        </li>
      ))
    }
  </ul>
</div>

<style>
  .social {
    border-top: 1px solid var(--gray-500);
    display: flex;
    flex-direction: column;
    height: 5rem;
    min-width: 100%;
    place-content: center;
  }

  .social ul {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    list-style: none;
    padding: 0;
    place-content: center;
  }

  .social ul li {
    color: var(--gray-500);
    margin-inline: 0.5rem;
    transition: transform 0.2s ease-in-out;
    width: 1.3rem;

    &:hover {
      transform: scale(1.25);
    }
  }

  [data-icon] {
    color: var(--gray-500);
    fill: var(--gray-500);

    &:hover {
      color: var(--green-600);
      fill: var(--green-600);
    }
  }
</style>
