.social {
  @apply min-w-full flex flex-col place-content-center h-20 border-t-2 border-gray-500;
}

.social ul {
  @apply flex flex-row place-content-center min-w-full h-4;
}

.social ul li {
  @apply w-4 mx-2 text-gray-500;
}

.social ul li:hover {
  @apply transform hover:scale-110 text-pink-400;
}
