---
import "../assets/css/global.css";
import Profile from "../components/profile/Profile.astro";
import Projects from "../components/projects/Projects.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Renan Sigolo">
  <main>
    <Profile />
    <Projects />
  </main>
</Layout>
