---
import "../../styles/global.css"
import Profile from "../components/Profile/Profile.astro"
import Projects from "../components/Projects/Projects.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout title="Renan Sigolo">
  <main>
    <Profile />
    <Projects />
  </main>
</Layout>
<!-- test -->
