---
import Social from "../components/Social/Social.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content={title} name="description" />
    <meta content="#1f2937" name="theme-color" />
    <meta content="yes" name="mobile-web-app-capable" />
    <meta content="default" name="apple-mobile-web-app-status-bar-style" />

    <!-- Twitter -->
    <meta
      content="https://renansigolo.com/meta-tags-banner.svg"
      property="og:image"
    />
    <meta content={title} name="og:title" />
    <meta content="summary_large_image" name="twitter:card" />

    <!-- Favicon -->
    <link href="favicon.svg" rel="icon" type="image/svg+xml" />
    <link href="favicon.ico" rel="icon" />

    <!-- Apple -->
    <link href="apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Manifest -->
    <link href="site.webmanifest" rel="manifest" />

    <!-- Sitemap -->
    <link href="/sitemap-index.xml" rel="sitemap" />

    <!-- Title -->
    <title>{title}</title>

    <!-- Google Analytics -->
    <script
      is:inline
      src="https://www.googletagmanager.com/gtag/js?id=G-KZ07JERQ10"
      type="text/partytown"></script>
    <script is:inline type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-KZ07JERQ10");
    </script>

    <!-- Vercel Analytics -->
    <script>
      import { inject } from "@vercel/analytics";
      inject();
    </script>

    <script src="https://www.eventbrite.com.au/static/widgets/eb_widgets.js"
    ></script>

    <script type="text/javascript">
      var exampleCallback = function () {
        console.log("Order complete!");
      };

      window.EBWidgets.createWidget({
        widgetType: "checkout",
        eventId: "1482662566649",
        // You can replace the discount code with an access or promotion code to override it
        modal: true,
        modalTriggerElementId: "eventbrite-widget-modal-trigger-1482662566649",
        onOrderComplete: exampleCallback,
      });
    </script>
  </head>

  <body>
    <slot />

    <footer>
      <Social />
    </footer>
  </body>
</html>
