---
import Social from "../components/Social/Social.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={title} />
    <meta name="theme-color" content="#1f2937" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />

    <!-- Twitter -->
    <meta
      property="og:image"
      content="https://renansigolo.com/meta-tags-banner.svg"
    />
    <meta name="og:title" content={title} />
    <meta name="twitter:card" content="summary_large_image" />

    <!-- Favicon -->
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <link rel="icon" href="favicon.ico" />

    <!-- Apple -->
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />

    <!-- Manifest -->
    <link rel="manifest" href="site.webmanifest" />

    <!-- Sitemap -->
    <link rel="sitemap" href="/sitemap-index.xml" />

    <!-- Title -->
    <title>{title}</title>

    <!-- Google Analytics -->
    <script
      type="text/partytown"
      src="https://www.googletagmanager.com/gtag/js?id=G-KZ07JERQ10"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-KZ07JERQ10");
    </script>

    <!-- Vercel Analytics -->
    <script>
      import { inject } from "@vercel/analytics";
      inject();
    </script>
  </head>

  <body>
    <slot />
    <footer>
      <Social />
    </footer>
  </body>
</html>
