@import "modern-normalize/modern-normalize.css";

:root {
  /* Colors */
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-500: #6b7280;
  --gray-800: #1f2937;
  --green-600: #16a34a;

  /* Background colors */
  --bg-gray-900: #111827b3;

  /* Breakpoints */
  --tablet: 768px;
  --desktop: 1024px;

  /* Font weight */
  --bold: 700;

  /* Global styles */
  color: var(--gray-100);
  background-color: var(--gray-800);
  accent-color: var(--green-600);
}

main {
  max-width: var(--tablet);
  margin-inline: auto;
  margin-bottom: 3rem;
  padding-inline: 1rem;
}
